<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tennis Scoreboard | Finished Matches</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">

    <script src="/static/js/app.js"></script>
</head>

<body>
<header class="header">
    <section class="nav-header">
        <div class="brand">
            <div class="nav-toggle">
                <img src="/static/images/menu.png" alt="Logo" class="logo">
            </div>
            <span class="logo-text">TennisScoreboard</span>
        </div>
        <div>
            <nav class="nav-links">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/matches">Matches</a>
            </nav>
        </div>
    </section>
</header>
<main>
    <div class="container">
        <h1>Matches</h1>
        <div class="input-container">
            <form action="/matches" method="get">
                <input class="input-filter" name="filter_by_player_name" placeholder="Filter by name" type="text" value="{{ filter_by_player_name or '' }}"/>
                <button class="btn-filter" type="submit">Search</button>
            </form>
            <div>
                <a href="/matches">
                    <button class="btn-filter">Reset Filter</button>
                </a>
            </div>
        </div>

        <table class="table-matches">
            <thead>
                <tr>
                    <th>Player One</th>
                    <th>Player Two</th>
                    <th>Winner</th>
                </tr>
            </thead>
            <tbody>
            {% for match in matches %}
                <tr>
                    <td>{{ match.player1_name }}</td>
                    <td>{{ match.player2_name }}</td>
                    <td><span class="winner-name-td">{{ match.winner_name }}</span></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No matches found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if total_pages > 1 %}
        <div class="pagination">

            {% if current_page > 1 %}
            <a class="prev" href="/matches?page={{ current_page - 1 }}{% if filter_by_player_name %}&filter_by_player_name={{ filter_by_player_name }}{% endif %}"> &lt; </a>
            {% endif %}

            {% for page_num in range(1, total_pages + 1) %}
            <a class="num-page {% if page_num == current_page %}current{% endif %}" href="/matches?page={{ page_num }}{% if filter_by_player_name %}&filter_by_player_name={{ filter_by_player_name }}{% endif %}">{{ page_num }}</a>
            {% endfor %}

            {% if current_page < total_pages %}
            <a class="next" href="/matches?page={{ current_page + 1 }}{% if filter_by_player_name %}&filter_by_player_name={{ filter_by_player_name }}{% endif %}"> &gt; </a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</main>
<footer>
    <div class="footer">
        <p>&copy; Tennis Scoreboard, project from <a href="https://zhukovsd.github.io/java-backend-learning-course/">zhukovsd/java-backend-learning-course</a>
            roadmap.</p>
    </div>
</footer>
</body>
</html>